.invalid{
  border: 1px solid #dc3545;
}
.btnp{
  background-color: #172b4d;
}

.box{
  background-color: #E9ECEF;
  width: 55%;
  margin: auto;
  border-radius: 7px;
}

form
{
  padding: 20px;
}
.obligatoire{
  color: #dc3545;
}
