
<div  style="margin-right: 30%; margin-left: 30%;">
  <div class="box ">



    <div style="position: relative;">
      <div class="card ">


        <div class="card-body pt-0 pt-md-4 mt-5">

          <div class="text-center">
            <h3>
              CHEIKH SALL<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>chmouhammed2605@gmail.com
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center dd">
      <div class="col-lg-3 order-lg-2">


            <img src="assets/img/theme/20825.jpg" class="rounded-circle shadow"
            style="margin-left: -32px; width: 200px; height: 200px;position: relative; margin-bottom: 0px; margin-top: -360px;">


      </div>
    </div>

    <div class="box mt-3 shadow  rounded">
      <div class=" shadow  p-3 pp">
        <div class="card-header bg-white p-3 align-items-center ">
          <div class=""  style="margin-left: 35%;">
            <div class="">
              <h3 class="mb-0 align-items-center">Mon profile</h3>
            </div>

          </div>
        </div>
        <div class="bg-white">
          <form role="form"  [formGroup]="profileForm" (ngSubmit)="profileUser()">
            <h6 style="margin-left: 32%;" class="heading-small text-muted mb-4">Modifier mes informations</h6>
            <div class="pl-md-6">

              <div class="row">

                <div class="col-lg-6">
                  <label for="prenom">Prénom</label>
                  <div [ngClass]="{'invalid':submitted && profileForm.controls['prenom'].errors}" class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <input  formControlName="prenom"
                    type="text" class="form-control" autocomplete="on">
                  </div>
                  <div style="margin-top: -10px;" *ngIf="submitted && profileForm.controls['prenom'].errors" class="text-danger">
                    <div *ngIf="submitted && profileForm.controls['prenom'].errors['required']">
                        Le prenom est obligatoire!
                    </div>
                    <div *ngIf="submitted && profileForm.controls['prenom'].errors['cannotContainSpace']">
                        Espace prénom autorisé
                    </div>
                    </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label for="nom">Nom</label>
                  <div [ngClass]="{'invalid':submitted && profileForm.controls['nom'].errors}" class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <i class="fa fa-home"></i>
                    </div>
                    <input  formControlName="nom"
                    type="text" class="form-control" autocomplete="on">
                  </div>
                  <div style="margin-top: -10px;" *ngIf="submitted && profileForm.controls['nom'].errors" class="text-danger">
                    <div *ngIf="submitted && profileForm.controls['nom'].errors['required']">
                        Le prenom est obligatoire!
                    </div>
                    <div *ngIf="submitted && profileForm.controls['nom'].errors['cannotContainSpace']">
                        Espace prénom autorisé
                    </div>
                    </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-lg-6">
                    <label for="email">Email</label>
                    <div [ngClass]="{'invalid':submitted && profileForm.controls['email'].errors}" class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">

                      </div>
                      <input  formControlName="email"
                      type="text" class="form-control" autocomplete="on">
                    </div>
                    <div style="margin-top: -10px;" *ngIf="submitted && profileForm.controls['email'].errors" class="text-danger">
                      <div *ngIf="submitted && profileForm.controls['email'].errors['required']">
                          Le prenom est obligatoire!
                      </div>
                      <div *ngIf="submitted && profileForm.controls['email'].errors['cannotContainSpace']">
                          Espace prénom autorisé
                      </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="d-flex justify-content-center">
            <div class="row ">
            <div class="col-md-6">
              <button type="reset"  class="btn btn-default btn-primary mt-3">Annuler</button>
          </div>
              <div class="col-md-6">
                <button type="submit"  class="btn btn-default btn-danger mt-3">Modifier</button>
            </div>
            </div>
</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
