.navbar {
  height: 50%;
  height: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
}

.dropup .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
}

.navbar-light {
  background-color:light;
  border-color: light;
}


.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: block;
  text-align: center;
  padding-top: (2rem );
  padding-bottom: (2rem );
}
