// pagination
ngb-pagination li {
    &:first-child a {
      span {
        display: none;
      }
     
    }
  }




.search{
  position: absolute;
  background-color: #fff;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
  padding-bottom: 45px;
  border:1px solid #2d3239;
  margin-top: 5px;
}
.inp{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #245dc5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2d3239;
  transition: 0.4s;
  text-decoration: none;
}
.search:hover > .inp{
  width: 240px;
  padding: 0 6px;
  top: 50px;

}


.search:hover > .btns{

  background-color: #f56036 ;
}
.search > .inp:focus{
  width: 240px;
  padding: 0 6px;
  top: 50px;
  
}
