<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="thead-light border-0 d-flex">
            <h3 class="m-3">Table des Archivés</h3>
            <input type="text" [(ngModel)]="term" style="margin-left:37%; height: 40px; border-radius:15px; margin-top:1% ;" placeholder="Rechercher ici ..." >
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >

              <thead class="card-header ">
                <tr>
                  <th scope="col">Prenom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Date d'archivage</th>
                  <th scope="col"> Actions</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let user of users |filter:term | paginate: { itemsPerPage: 2, currentPage: p } " >

                  <td> {{user.prenom}} </td>
                  <td> {{user.nom}} </td>
                  <td> {{user.email}} </td>
                  <td> {{user.createdAt}} </td>
                  <td>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#switchModal"  > <span class="material-symbols-outlined">delete_forever </span></button>
                  </td>

                        <!-- Modal déarchivage -->
    <div class="modal fade" id="switchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">DEARCHIVAGE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Voulez-vous vraiment déarchiver ce user ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NON</button>
            <button type="button" class="btn btn-danger"(click)="DeArchiver(user._id, user.etat)">OUI</button>
          </div>
        </div>
      </div>
    </div>

                </tr>
              </tbody>

            </table>
          </div>
          <!-- pagination -->
          <div class="card-footer py-4 d-flex" style="justify-content: right;">
             <pagination-controls (pageChange)="p = $event" ></pagination-controls>

          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->




