<div style="margin-left:330px; margin-right:30px; margin-top: 0px;">
  <div style=" margin-bottom: 20px; padding-top: 130px;">
    <div class="">
      <div class="header-body" >
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="h1 card-title text-uppercase text-muted mb-0">8h:00</h5>
                    <div class="h2 font-weight-bold mb-0">Temperature:</div>
                    <div class="h2 font-weight-bold mb-0">Humidite:</div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="h1 card-title text-uppercase text-muted mb-0">12h:00</h5>
                    <div class="h2 font-weight-bold mb-0">Temperature:</div>
                    <div class="h2 font-weight-bold mb-0">Humidite:</div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="h1 card-title text-uppercase text-muted mb-0">19h:00</h5>
                    <div class="h2 font-weight-bold mb-0">Temperature:</div>
                    <div class="h2 font-weight-bold mb-0">Humidite:</div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="h1 card-title text-uppercase text-muted mb-0">Moyenne</h5>
                    <div class="h2 font-weight-bold mb-0">Temperature:</div>
                    <div class="h2 font-weight-bold mb-0">Humidite:</div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
