
 <div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8  ">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <img src="./assets/img/brand/img.jpg" class="col-xl-12">
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4 bg-white rounded shadow" style="position: relative;">
      <div class=" align-items-center  " >
        <div class="bg-white mb-3 d-flex justify-content-center">



              <h1 class="">Controle du systeme</h1>

  <div class="dropdown-divider black"></div>
        </div>

        <div class="align-items-center">
        <img src="./assets/img/brand/ventilo.jpeg" class="col-xl-12 align-items-center">
<span class="d-flex justify-content-center">
          <button  class="btn rounded mt-3 mb-4 bg-success text-white "><span class=""><h2>Allumer</h2></span></button>

      </span>  </div>


       <!--  <div class="card-body">

          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div> -->
      </div>
    </div>
  </div>


</div>

