.dd:hover {
  transform: translate(0%, -90%);
  color:gray;

}

.pp {
  background-color:/* rgb(235, 230, 230); */white;
  }


.pp:hover {
 background-color: rgb(245, 95, 58);

}
.white{
  display: flex;
  justify-content: center;
}
.invalid{
  border: 1px solid #dc3545;;
}