<div style="position: relative;">
  <div class="container c_form " style="margin-top: 50px; padding: 10px; position: relative;">


    
    <!-- Table -->
    <div class="box shadow">

              <h2 class="text-center" style="padding-top: 10px;">Inscription</h2>
              <div class="text-danger text-center" *ngIf="changeMail">mail existe déja</div>
            <form role="form" class="row g-5" [formGroup]="signupForm" (ngSubmit)="registerUser()">

              <div class="form-group col-md-6">
                <label for="prenom">Prénom <span class="obligatoire">*</span> </label>
                <div [ngClass]="{'invalid':submitted && signupForm.controls['prenom'].errors}" class="input-group input-group-alternative mb-3">

                  <input  formControlName="prenom"
                  type="text" class="form-control" autocomplete="on">
                </div>
                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['prenom'].errors" class="text-danger">
                  <div *ngIf="submitted && signupForm.controls['prenom'].errors['required']">
                      Le prenom est obligatoire!
                  </div>
                  <div *ngIf="submitted && signupForm.controls['prenom'].errors['cannotContainSpace']">
                      Espace prénom autorisé
                  </div>
                  </div>
              </div>

              <div class="form-group col-md-6">
                <label for="prenom">Nom <span class="obligatoire">*</span></label>
                <div [ngClass]="{'invalid':submitted && signupForm.controls['nom'].errors}" class="input-group input-group-alternative mb-3">

                  <input formControlName="nom" class="form-control" type="text">
                </div>
                  <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['nom'].errors" class="text-danger">
                  <div *ngIf="submitted && signupForm.controls['nom'].errors['required']">
                      Le nom est obligatoire!
                  </div>
                  <div *ngIf="submitted && signupForm.controls['nom'].errors['cannotContainSpace']">
                      Espace non autorisé
                  </div>
                  </div>
              </div>


              <div class="form-group col-md-6">
                <label for="role">Role <span class="obligatoire">*</span></label>
                <div [ngClass]="{'invalid':submitted && signupForm.controls['role'].errors}" class="input-group input-group-alternative mb-3">

                  <select formControlName="role" class="form-control" >
                      <option  selected disabled></option>
                      <option>Administrateur</option>
                      <option>Utilisateur</option>
                  </select>
                </div>
                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['role'].errors" class="text-danger">
                  <div *ngIf="submitted && signupForm.controls['role'].errors['required']">
                      Le role est obligatoire!
                  </div>
                  <div *ngIf="submitted && signupForm.controls['role'].errors['cannotContainSpace']">
                      Espace non autorisé
                  </div>
                  </div>
              </div>

              <div class="form-group col-md-6">
                <label for="email">Email <span class="obligatoire">*</span></label>
                <div [ngClass]="{'invalid':submitted && signupForm.controls['email'].errors}"  class="input-group input-group-alternative mb-3">

                  <input formControlName="email" class="form-control"  type="email">
                </div>
                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['email'].errors" class="text-danger">
                  <div *ngIf="submitted && signupForm.controls['email'].errors['required']">
                      Le mail est obligatoire!
                  </div>
                  <div *ngIf="submitted && signupForm.controls['email'].errors['email']">
                      format incorrect
                  </div>
                  </div>
              </div>

              <div class="form-group col-md-6">
                <label for="mdp">Mot de passe  <span class="obligatoire">*</span></label>
                <div [ngClass]="{'invalid':submitted && signupForm.controls['password'].errors}"
                 class="input-group input-group-alternative">

                  <input formControlName="password" class="form-control" type="{{inputType}}" >
                  <div class="eyes" *ngIf="inputType_pwd" (click)="eyes(inputType)">
                    <svg width="20" height="17" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.16 9.58C14.16 11.56 12.56 13.16 10.58 13.16C8.6 13.16 7 11.56 7 9.58C7 7.6 8.6 6 10.58 6C12.56 6 14.16 7.6 14.16 9.58Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.785 17.55C14.315 17.55 17.605 15.47 19.895 11.87C20.795 10.46 20.795 8.09 19.895 6.68C17.605 3.08 14.315 1 10.785 1C7.255 1 3.965 3.08 1.675 6.68C0.775 8.09 0.775 10.46 1.675 11.87C3.965 15.47 7.255 17.55 10.785 17.55Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <div class="eyes" *ngIf="inputType_txt" (click)="eyes(inputType)">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.108 7.96063L9.04796 12.599C8.37696 11.9839 8 11.1497 8 10.2798C8 9.84909 8.09255 9.4226 8.27236 9.02467C8.45217 8.62675 8.71572 8.26519 9.04796 7.96063C9.3802 7.65607 9.77464 7.41448 10.2087 7.24966C10.6428 7.08483 11.1081 7 11.578 7C12.5269 7 13.437 7.34555 14.108 7.96063V7.96063Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.51 10.8083C14.3745 11.4478 14.0337 12.0355 13.5312 12.4961C13.0287 12.9567 12.3876 13.2692 11.69 13.3933M8.47 12.4858L1 19.3333M21 1L13.53 7.8475" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M16.605 3.87C14.855 2.66 12.855 2 10.785 2C7.255 2 3.965 3.90667 1.675 7.20667C0.775 8.49917 0.775 10.6717 1.675 11.9642C2.465 13.1008 3.385 14.0817 4.385 14.87M7.205 16.4833C8.345 16.9233 9.555 17.1617 10.785 17.1617C14.315 17.1617 17.605 15.255 19.895 11.955C20.795 10.6625 20.795 8.49 19.895 7.1975C19.565 6.72083 19.205 6.27167 18.835 5.85" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
                </div>
                <div *ngIf="submitted && signupForm.controls['password'].errors" class="text-danger">
                  <div *ngIf="submitted && signupForm.controls['password'].errors['required']">
                      Le Password est obligatoire!
                  </div>
              </div>
              </div>

              <div class="form-group col-md-6">
                <label for="mdp_c">Confirmer le mot de passe <span class="obligatoire">*</span></label>
                <div  [ngClass]="{'invalid':submitted && invalid }" class="input-group input-group-alternative">

                  <input class="form-control" formControlName="passwordConfirm" (keyup)="passeIdentique()"  type="{{inputType_c}}">
                  <div class="eyes" *ngIf="inputType_pwd_c" (click)="eyes_confirm(inputType_c)">
                    <svg width="20" height="17" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.16 9.58C14.16 11.56 12.56 13.16 10.58 13.16C8.6 13.16 7 11.56 7 9.58C7 7.6 8.6 6 10.58 6C12.56 6 14.16 7.6 14.16 9.58Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.785 17.55C14.315 17.55 17.605 15.47 19.895 11.87C20.795 10.46 20.795 8.09 19.895 6.68C17.605 3.08 14.315 1 10.785 1C7.255 1 3.965 3.08 1.675 6.68C0.775 8.09 0.775 10.46 1.675 11.87C3.965 15.47 7.255 17.55 10.785 17.55Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <div class="eyes" *ngIf="inputType_txt_c" (click)="eyes_confirm(inputType_c)">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.108 7.96063L9.04796 12.599C8.37696 11.9839 8 11.1497 8 10.2798C8 9.84909 8.09255 9.4226 8.27236 9.02467C8.45217 8.62675 8.71572 8.26519 9.04796 7.96063C9.3802 7.65607 9.77464 7.41448 10.2087 7.24966C10.6428 7.08483 11.1081 7 11.578 7C12.5269 7 13.437 7.34555 14.108 7.96063V7.96063Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.51 10.8083C14.3745 11.4478 14.0337 12.0355 13.5312 12.4961C13.0287 12.9567 12.3876 13.2692 11.69 13.3933M8.47 12.4858L1 19.3333M21 1L13.53 7.8475" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M16.605 3.87C14.855 2.66 12.855 2 10.785 2C7.255 2 3.965 3.90667 1.675 7.20667C0.775 8.49917 0.775 10.6717 1.675 11.9642C2.465 13.1008 3.385 14.0817 4.385 14.87M7.205 16.4833C8.345 16.9233 9.555 17.1617 10.785 17.1617C14.315 17.1617 17.605 15.255 19.895 11.955C20.795 10.6625 20.795 8.49 19.895 7.1975C19.565 6.72083 19.205 6.27167 18.835 5.85" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                  </div>
                </div>

                  <div *ngIf="submitted && invalid" class="text-danger">
                  les mot de passe ne correspond pas
                  </div >
                  <div *ngIf="confirm != ''" style="color:red ;">les mot de passe ne correspond pas</div>

            </div>
            <div  style="text-align:center;">
                <button type="submit"  class="btn btn-primary btnp">Inscrire</button>
            </div>
            </form>
          </div>
        </div>

</div>


